
nav{
    min-height: 50px;
    background-color: lightslategray;
    display:flex;
    justify-content: space-around;
}


a{
    font-size: x-large;
    color: black
}

#profileImage{
   width: 10%;
   height:10%;
   border-radius: 20%;
}

#gradientDiv{
    display:flex;
    justify-content: space-around;
    background:linear-gradient(180deg,lightslategray 30%, white); /*linear-gradient(180deg, rgba(6,10,13,1) 0%, rgba(72,75,78,1) 100%);*/ 
    overflow: auto;
}


.row {
    display: table;
    width: 100%; 
    table-layout: fixed; 
    justify-content: space-around;
}
.column {
    display: table-cell;
}

.skillButtons{
    list-style-type: square;
}

video{
    widows: 200px;
    height:200px;
}

img{
    widows: 200px;
    height:200px;
}

form {
    display:table;
    margin:auto;
}



